#edu-exp {
  padding-top: 40px;
  width: 100vw;
  background-color: #181818;
}

.startabs > ul {
  text-align: center;
  margin: 50px 0 0;
  padding: 0;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.startabs > ul > li {
  display: inline-block;
  background: #fff;
  padding: 0.6rem 0;
  position: relative;
  width: calc(100% / 3);
  margin: 0 0 0 -4px;
}
.startabs > ul > li a {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  transition: 0.4s ease;
  text-transform: uppercase;
}
.startabs > ul > li:before,
.startabs > ul > li:after {
  opacity: 0;
  transition: 0.3s ease;
}
.startabs > ul > li.ui-tabs-active:before,
.startabs > ul > li.ui-tabs-active:after,
.startabs > ul > li.ui-state-hover:before,
.startabs > ul > li.ui-state-hover:after,
.startabs > ul > li.ui-state-focus:before,
.startabs > ul > li.ui-state-focus:after {
  opacity: 1;
}
.startabs > ul > li:before,
.startabs > ul > li.ui-state-active.ui-state-hover:before,
.startabs > ul > li.ui-state-active.ui-state-focus:before {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 2px 3px rgba(22, 195, 255, 0.5);
  top: 50%;
  bottom: 0px;
  left: 5px;
  right: 5px;
  border-radius: 25%;
}
.startabs > ul > li:after,
.startabs > ul > li.ui-state-active.ui-state-hover:after,
.startabs > ul > li.ui-state-active.ui-state-focus:after {
  content: "";
  background: #fff;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  bottom: -6px;
  margin-left: -6px;
  transform: rotate(45deg);
  box-shadow: inset 3px 3px 3px rgba(22, 195, 255, 0.6),
    inset 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.startabs > ul > li.ui-state-hover:before,
.startabs > ul > li.ui-state-focus:before {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
}
.startabs > ul > li.ui-state-hover:after,
.startabs > ul > li.ui-state-focus:after {
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.6),
    inset 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.startabs > ul > li a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
.startabs > ul > li.ui-state-focus a {
  color: rgba(255, 255, 255, 0.7);
}
.startabs > ul > li:focus {
  outline: none;
}
.startabs > ul > li a:focus {
  text-decoration: none;
  outline: none;
  text-shadow: 0 2px 3px rgba(255, 255, 255, 0.4);
}
.startabs > ul > li a span {
  position: relative;
  top: -0.5em;
}
.startabs.dark > ul {
  border-bottom-color: rgba(255, 255, 255, 0.1);
}
.startabs.dark > ul > li {
  background: #181818;
}
.startabs.dark > ul > li:before,
.startabs.dark > ul > li.ui-state-active.ui-state-hover:before,
.startabs.dark > ul > li.ui-state-active.ui-state-focus:before {
  box-shadow: 0 2px 3px rgba(255, 255, 255, 0.4);
}
.startabs.dark > ul > li:after,
.startabs.dark > ul > li.ui-state-active.ui-state-hover:after,
.startabs.dark > ul > li.ui-state-active.ui-state-focus:after {
  background: #181818;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.4),
    inset 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.startabs.dark > ul > li.ui-state-hover:before,
.startabs.dark > ul > li.ui-state-focus:before {
  box-shadow: none;
}
.startabs.dark > ul > li.ui-state-hover:after,
.startabs.dark > ul > li.ui-state-focus:after {
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4);
}

.startabs {
  width: 92%;
  margin: auto;
}
.tabs-content {
  padding: 1.4rem 2.2rem;
  min-height: 200px;
}
.darksection {
  background: #181818;
  color: #fff;
  padding: 20px 0;
}

/* TABS CONTENT ELEMENTS */
/* ABOUT ME TAB CONTENT */

#sobre-mi {
  padding: 2% 0;
}

/* ABOUT ME TAB CONTENT */
/* EDUCATION TAB CONTENT */

#relacionado, #oficial, #otros {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#relacionado ul, #oficial ul, #otros ul {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}


#educacion > div > ul {
  margin: 2.2rem 0;
  padding: 0;
  position: relative;
  list-style: none;
}

#educacion > div > ul li {
  color: #fafafa;
  padding: .5rem 0;
}

#educacion > div > ul > li span {
  color: #bbb;
  padding-left: 3.2rem;
  font-size: .9rem;
  font-style: italic;
}

#educacion i {
  margin-right: 1rem;
}

/* EDUCATION INTERIOR TABS*/

#educacion > ul {
  text-align: center;
  padding: 0;
  position: relative;
}

#educacion > ul > li {
  display: inline-block;
  margin-top: 2rem;
}

#educacion > ul > li:nth-child(1), #educacion > ul > li:nth-child(2) {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

#educacion > ul > li a {
  text-decoration: none;
  padding: 0 .8rem;
  color: rgba(255, 255, 255, 0.3);
  transition: 0.4s ease;
  outline: none;
}

#educacion > ul > li a:hover, #educacion > ul > li.ui-state-focus a {
  color: rgba(255, 255, 255, 0.8);
}

/* EDUCATION INTERIOR TABS*/
/* EDUCATION TAB CONTENT */
/* EXPERIENCE TAB CONTENT */

#experiencia {
  display: flex;
  width: 100%;
	margin: 0;
	padding: 10px;
	display: flex;
}

.accordion {
	margin: auto;
	width: 440px;
}

.accordion input {
	display: none;
}

.experience-box {
	position: relative;
  background: #fafafa;
  box-shadow: inset 2px 4px 4px 0px rgba(255,255,255,0.4), 0 1px 2px -1px rgba(66, 134, 244,0.7), inset 0px 0px 10px 0px #080808;
  height: 64px;
  transition: all .15s ease-in-out;
}

.experience-box::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

header.experience-box {
	background: #222;
	z-index: 100;
	cursor: initial;
	box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px -2px rgba(0,0,0,.12),0 2px 4px -4px rgba(0,0,0,.24), inset 1px 0px 18px 1px #000, inset 1px 1px 3px 0px #fff;
}
header .box-title {
	margin: 0;
	font-weight: normal;
	font-size: 1rem;
	color: white;
	cursor: initial;
}

section.experience-box:hover {
  background: #dfdfdf;
}

.box-title {
	width: calc(100% - 2.8rem);
	height: 64px;
	line-height: 64px;
	padding: 0 20px;
  display: inline-block;
  color: rgba(0,0,0,.7);
	cursor: pointer;
}

.box-content {
	width: calc(100% - 2.8rem);
	padding: 2rem 1.6rem;
	font-size: 11pt;
	color: rgba(0,0,0,.7);
	display: none;
}

.box-close {
	position: absolute;
	height: 2.2rem;
  width: 2.2rem;
  background: #fafafa;
	top: -0.7rem;
  left: -1.1rem;
  color: #333;
	cursor: pointer;
  display: none;
  padding: .4rem;
  font-size: 1.1rem;
  text-align: center;
  border: solid 1px rgba(0, 0, 0, 0.54);
  border-radius: 50%;
  transition: all .5s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box-close:hover, .box-close:active {
  background: #333;
  color: #fafafa;
  border: solid 1px rgba(0, 174, 255, .7);
}

.box-close:active {
  background: #181818;
}

input:checked + .experience-box {
	height: auto;
	margin: 16px 0;
  box-shadow: 0 0 20px rgba(0, 174, 255, .6), 1px 1px 2px rgba(0, 174, 255, 1), -1px -1px 2px rgba(0, 174, 255, 1);
}
input:checked + .experience-box .box-title {
	border-bottom: 1px solid rgba(0,0,0,.18);
}
input:checked + .experience-box .box-content,
input:checked + .experience-box .box-close {
	display: inline-block;
}
.arrows section .box-title {
	padding-left: 44px;
	width: calc(100% - 64px);
}
.arrows section .box-title:before {
	position: absolute;
	display: block;
	content: '\203a';
	font-size: 1.4rem;
	left: 20px;
	top: -2px;
	transition: transform .15s ease-in-out;
	color: rgba(0,0,0,.54);
}

.arrows section .box-title:before + .box-title:hover {
  left: 25px !important;
}

input:checked + section.box .box-title:before {
	transform: rotate(90deg);
}

/* EXPERIENCE TAB CONTENT */
/* TABS CONTENT ELEMENTS */

@media screen and (min-width: 960px) {
  .darksection {
    width: 82%;
    max-width: 1320px;
    display: flex;
    position: relative;
    margin: 0 auto;
    padding: 0;
  }

  #edu-exp {
    padding-top: 0;
  }
}

@media screen and (max-width: 480px) {
.tabs-content {
  padding: .4rem 1.4rem;
}

#edu-exp {
  padding: 0;
}

@media screen and (max-width: 450px) {
  .tabs-content {
    padding: .5rem 1.2rem;
  }

  #educacion > div > ul li {
    color: #fafafa;
    padding: .2rem 0;
    font-size: .9rem;
  }

  #educacion span {
    font-size: 0.8;
    padding-left: 2.9rem;
    padding-bottom: .4rem;
  }
}

@media screen and (max-width: 414px) {
  .tabs-content {
    padding: 0rem 1.4rem;
  }

  #educacion > div > ul li {
    color: #fafafa;
    padding: .3rem 0rem;
    font-size: .76rem;
  }

  #educacion .fa {
    font-size: 1.2rem;
  }

  .startabs ul li {
    font-size: 1rem;
  }
}